version: "3.8"

services:
  api:
    image: node:latest
    container_name: api
    restart: always
    env_file:
     - .env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    working_dir: /usr/app
    volumes:
      - .:/usr/app
    command: yarn start
    networks:
      - pedidopago

networks:
  pedidopago:
    name: pedidopago
    driver: bridge